@import "tailwindcss";


li{
    list-style: none;
}
*{
    line-height: default;
}

.bg-color{
    background: #632d00;
}

.bg-circular-gradient {
    
    background-image: radial-gradient(circle at center, rgba(255, 160, 80, 0.15) 0%, rgba(255, 100, 50, 0.05) 20%, transparent 80%);
}